---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
import ThemeToggle from '../components/ThemeToggle.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
		<script>
			if (
			  localStorage.theme === 'dark' ||
			  (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
			) {
			  document.documentElement.classList.add('dark');
			} else {
			  document.documentElement.classList.remove('dark');
			}
		  </script>
	  
	</head>
	

	
	<body class="w-full h-full bg-blue-600 text-black dark:bg-red-800 dark:text-white">
		<ThemeToggle />
		<slot />
	</body>
</html>

