---
import Layout from "../../layouts/Layout.astro";


---

<Layout description='My music blog' title="Welcome to Astro.">
	<main>
		<h1>Welcome to Astro test page yeytea</h1>
		<p>My music blog</p>
	</main>
</Layout>